form {
  font-size: 14px;
}

.profile {
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.profile h2 {
  color: #333 !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heading-demo h1,
.heading-demo h2,
.heading-demo p {
  color: #333 !important;
}

.bootstrap-iso sk-editme input.ng-invalid,
.bootstrap-iso sk-editme textarea.ng-invalid {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.bootstrap-iso sk-editme input.ng-invalid:focus,
.bootstrap-iso sk-editme textarea.ng-invalid:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}